<p id="notice"><%= notice %></p>

<p>
  <strong>Player:</strong>
  <%= @application.player %>
</p>

<p>
  <strong>Email:</strong>
  <%= @application.user.email %>
</p>

<p>
  <strong>Body:</strong>
  <%= @application.body %>
</p>

<p>
  <strong>Url:</strong>
  <%= @application.url %>
</p>

<%= link_to 'Edit', edit_application_path(@application) %> |
<%= link_to 'Back', applications_path %>
