<%= form_with(model: casting_call, local: true) do |form| %>
  <% if casting_call.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(casting_call.errors.count, "error") %> prohibited this casting_call from being saved:</h2>

      <ul>
        <% casting_call.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :info %>
    <%= form.text_area :info %>
  </div>

  <div class="field">
    <%= form.label :post_id %>
    <%= form.number_field :post_id %>
  </div>

  <div class="field">
    <%= form.label :system %>
    <%= form.text_field :system %>
  </div>

  <div class="field">
    <%= form.label :video %>
    <%= form.text_field :video %>
  </div>

  <div class="field">
    <%= form.label :audio %>
    <%= form.text_field :audio %>
  </div>

  <div class="field">
    <%= form.label :studio %>
    <%= form.text_field :studio %>
  </div>

  <div class="field">
    <%= form.label :live %>
    <%= form.text_field :live %>
  </div>

  <div class="field">
    <%= form.label :pitch %>
    <%= form.text_field :pitch %>
  </div>

  <div class="field">
    <%= form.label :seats %>
    <%= form.number_field :seats %>
  </div>

  <div class="field">
    <%= form.label :paid %>
    <%= form.text_field :paid %>
  </div>

  <div class="field">
    <%= form.label :paid_info %>
    <%= form.text_field :paid_info %>
  </div>

  <div class="field">
    <%= form.label :platform %>
    <%= form.text_field :platform %>
  </div>

  <%= form.hidden_field :user_id, value: current_user.id %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
