<p id="notice"><%= notice %></p>

<h1>Casting Calls</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Info</th>
      <th>Post</th>
      <th>System</th>
      <th>Video</th>
      <th>Audio</th>
      <th>Studio</th>
      <th>Live</th>
      <th>Pitch</th>
      <th>Seats</th>
      <th>Paid</th>
      <th>Paid info</th>
      <th>Platform</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @casting_calls.each do |casting_call| %>
      <tr>
        <td><%= casting_call.name %></td>
        <td><%= casting_call.info %></td>
        <td><%= casting_call.post_id %></td>
        <td><%= casting_call.system %></td>
        <td><%= casting_call.video %></td>
        <td><%= casting_call.audio %></td>
        <td><%= casting_call.studio %></td>
        <td><%= casting_call.live %></td>
        <td><%= casting_call.pitch %></td>
        <td><%= casting_call.seats %></td>
        <td><%= casting_call.paid %></td>
        <td><%= casting_call.paid_info %></td>
        <td><%= casting_call.platform %></td>
        <td><%= link_to 'Show', casting_call %></td>
        <td><%= link_to 'Edit', edit_casting_call_path(casting_call) %></td>
        <td><%= link_to 'Destroy', casting_call, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Casting Call', new_casting_call_path %>
