<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @casting_call.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @casting_call.user.email %>
</p>

<p>
  <strong>Info:</strong>
  <%= @casting_call.info %>
</p>

<p>
  <strong>Post:</strong>
  <%= @casting_call.post_id %>
</p>

<p>
  <strong>System:</strong>
  <%= @casting_call.system %>
</p>

<p>
  <strong>Video:</strong>
  <%= @casting_call.video %>
</p>

<p>
  <strong>Audio:</strong>
  <%= @casting_call.audio %>
</p>

<p>
  <strong>Studio:</strong>
  <%= @casting_call.studio %>
</p>

<p>
  <strong>Live:</strong>
  <%= @casting_call.live %>
</p>

<p>
  <strong>Pitch:</strong>
  <%= @casting_call.pitch %>
</p>

<p>
  <strong>Seats:</strong>
  <%= @casting_call.seats %>
</p>

<p>
  <strong>Paid:</strong>
  <%= @casting_call.paid %>
</p>

<p>
  <strong>Paid info:</strong>
  <%= @casting_call.paid_info %>
</p>

<p>
  <strong>Platform:</strong>
  <%= @casting_call.platform %>
</p>

<div id="applications">
  <%= render 'applications/form', application: @application %>
</div>

<%= link_to 'Edit', edit_casting_call_path(@casting_call) %> |
<%= link_to 'Back', casting_calls_path %>
